* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", system-ui, -apple-system, Roboto, sans-serif;
}

body {
  background-color: #333446;
  color: #eaefef;
}

/* Typography */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #89b4fa;
  text-decoration: none;
  text-underline-offset: 0.25rem;
  transition: all 0.2s ease-out;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}

/* Form */
label:has(span) {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input,
textarea {
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.button,
button {
  background-color: #89b4fa;
  color: #1e1e2e;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
  transition: all 0.2s ease-out;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 0.875rem;
  text-decoration: none !important;
}

.button:hover,
button:hover {
  background-color: #a6c2f5;
}

.button-danger {
  background-color: #b44336;
  color: #f4cdd6;
}

.button-danger:hover {
  background-color: #c45346;
}

.button-success {
  background-color: #45b448;
  color: #cdf4d6;
}

.button-success:hover {
  background-color: #5db460;
}

.button-group {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.grid-2 {
  grid-template-columns: 1fr 1fr;
}

/* Messages */
blockquote {
  color: #1e1e2e;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0;
}

.success {
  background-color: color-mix(in srgb, green 70%, transparent 30%);
  border-left: 0.25rem solid green;
  color: #cdf4d6;
}

.error {
  background-color: color-mix(in srgb, red 60%, transparent 40%);
  border-left: 0.25rem solid red;
  color: #f4cdd6;
}

.info {
  background-color: color-mix(in srgb, lightblue 60%, transparent 40%);
  border-left: 0.25rem solid lightblue;
  color: #cdd6f4;
}
