{{ define "complete" }}
{{ template "auth" . }}{{ end }}
{{ define "title" }}Complete - Passenger{{ end }}
{{ define "page" }}
<h1>Success</h1>

<p>
  You have created your vault successfully. Now you can login to your vault.
</p>

<form action="/login" method="get">
  <button type="submit">Login</button>
</form>
{{ end }}