{{ define "details" }}
{{ template "app" . }}{{ end }}
{{ define "page" }}
<h1>Change Password</h1>

{{ if .Message }}
<blockquote class="success">{{ .Message }}</blockquote>
{{ end }}

{{ if .Error }}
<blockquote class="error">{{ .Error }}</blockquote>
{{ end }}

<form action="/change-password" method="post">
  <label>
    <span>Passphrase</span>
    <input type="password" name="passphrase" />
  </label>

  <label>
    <span>Confirm Passphrase</span>
    <input type="password" name="confirmPassphrase" />
  </label>

  <button type="submit">Change Password</button>
</form>
{{ end }}