{{ define "details" }}
{{ template "app" . }}{{ end }}
{{ define "page" }}
<h1>New Account</h1>

{{ if .Error }}
<blockquote class="error">{{ .Error }}</blockquote>
{{ end }}

<form action="/create" method="post" autocomplete="off" data-form-type="other">
  <label>
    <span>Platform</span>
    <input required type="text" name="platform" value="{{ .Account.Platform }}" />
  </label>

  <label>
    <span>Identifier</span>
    <input required type="text" name="identifier" value="{{ .Account.Identifier }}" list="identifiers-list" />
    <datalist id="identifiers-list">
      {{ range .Identifiers }}
      <option value="{{ . }}">
      {{ end }}
    </datalist>
  </label>

  <label>
    <span>URL</span>
    <input required type="url" autocomplete="off" data-form-type="other" name="url" value="{{ .Account.Url }}" list="urls-list" />
    <datalist id="urls-list">
    </datalist>
  </label>

  <label>
    <span>Passphrase</span>
    <input required type="text" autocomplete="off" name="passphrase" value="{{ .Account.Passphrase }}" data-form-type="other" style="-webkit-text-security: disc; text-security: disc;" />
  </label>

  <label>
    <span>Notes</span>
    <textarea name="notes">{{ .Account.Notes }}</textarea>
  </label>

  <button type="submit" class="button-success">Create</button>
</form>
{{ end }}

{{ define "script" }}
<script src="/static/components/url-completion.js"></script>
{{ end }}