{{ define "details" }}
{{ template "app" . }}{{ end }}
{{ define "page" }}
<h1>New Account</h1>

{{ if .Error }}
<blockquote class="error">{{ .Error }}</blockquote>
{{ end }}

<form action="/create" method="post">
  <label>
    <span>Platform</span>
    <input required type="text" name="platform" value="{{ .Account.Platform }}" />
  </label>

  <label>
    <span>Identifier</span>
    <input required type="text" name="identifier" value="{{ .Account.Identifier }}" />
  </label>

  <label>
    <span>URL</span>
    <input required type="url" name="url" value="{{ .Account.Url }}" />
  </label>

  <label>
    <span>Passphrase</span>
    <input required type="password" autocomplete="off" name="passphrase" value="{{ .Account.Passphrase }}" />
  </label>

  <label>
    <span>Notes</span>
    <textarea name="notes">{{ .Account.Notes }}</textarea>
  </label>

  <button type="submit" class="button-success">Create</button>
</form>
{{ end }}