{{ define "details" }}
{{ template "app" . }}{{ end }}
{{ define "page" }}
<h1>Account Details</h1>

{{ if .Message }}
<blockquote class="success">{{ .Message }}</blockquote>
{{ end }}

{{ if .Error }}
<blockquote class="error">{{ .Error }}</blockquote>
{{ end }}

<form action="/accounts/{{ .Account.Id }}" method="post">
  <label>
    <span>Platform</span>
    <input required type="text" name="platform" value="{{ .Account.Platform }}" />
  </label>

  <label>
    <span>Identifier</span>
    <input required type="text" name="identifier" value="{{ .Account.Identifier }}" />
  </label>

  <label>
    <span>URL</span>
    <input required type="url" name="url" value="{{ .Account.Url }}" />
  </label>

  <label>
    <span>Passphrase</span>
    <input required type="password" autocomplete="off" name="passphrase" value="{{ .Account.Passphrase }}" />
  </label>

  <label>
    <span>Notes</span>
    <textarea name="notes">{{ .Account.Notes }}</textarea>
  </label>

  <button type="submit">Save</button>
</form>

<h2>Danger Zone</h2>

<button type="button" class="button-danger" onclick="deleteAccount()">Delete</button>
{{ end }}

{{ define "script" }}
<script>
  function deleteAccount() {
    if (confirm('Are you sure you want to delete this account?')) {
      fetch('/api/accounts/{{ .Account.Id }}', {
        method: 'DELETE',
        credentials: 'include',
      }).then(() => {
        window.location.href = '/';
      }).catch((error) => {
        const errorElement = document.createElement('small');
        errorElement.textContent = 'Failed to delete account';
        document.querySelector('form').appendChild(errorElement);
      });
    }
  }
</script>
{{ end }}